/* Custom Propety */
:root {
  --bg-color-red: #da291c;
  --bg-footer: #fafafa;
  --color-red-black: #96172e;
  --color-opacity: #00000047;
  --color-black: #323237;
  --max-width: 962px;
  --color-border: #e2e8ee;
  --color-white: #fff;
  --color-gray: #9b9b9b;
}

/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  color: var(--color-black);
}
/* General */
a {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-white);
}
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}
h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}
h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
li {
  list-style: none;
}
/* Utilis */
.is__active {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Component */
.btn {
  background: var(--bg-color-red);
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-white);
  border-radius: 5px;
  text-align: center;
  border: 0 solid transparent;
  padding: 16px 48px;
}
.btn__outline {
  background: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  color: var(--color-black);
  border-radius: 5px;
  text-align: center;
  border: 2px solid var(--color-black);
  padding: 8px 16px;
}
.carrusel {
  width: 294px;
  overflow-x: hidden;
  justify-content: center;
}
/* .carrusel__arrow {
  width: 16px;
  height: 29px;
  position: absolute;
  top: 13rem;
  cursor: pointer;
} */
.icon {
  width: 30px;
  height: 30px;
  color: var(--color-white);
  cursor: pointer;
}
.title__red {
  color: var(--color-red-black);
  display: inline-flex;
  border-bottom: 1px solid var(--color-red-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.title__red-small {
  font-size: 14px;
}

/* Site Styles  */

/* HEADER */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--bg-color-red);
  z-index: 999;
}
.header > .container {
  max-width: var(--max-width);
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}
nav {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 70%;
  right: 0;
  background-color: var(--bg-color-red);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  transition: opacity 0.5s ease;
}
.nav__list__item {
  padding: 1.1rem 1rem 1rem;

  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}
.nav__list__item:hover {
  box-shadow: inset 0 7px 0 var(--color-white);
}

@media screen and (min-width: 600px) {
  .container > .icon {
    display: none;
  }
  .nav {
    position: static;
    opacity: 1;
    pointer-events: auto;

    padding-top: 0;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list__item {
    margin: 0 2rem;
  }
}

/* HERO */
.hero {
  background-image: url("../assets/image-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 293px;
  color: var(--color-white);
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.hero__card {
  width: 331px;
  background-color: var(--color-opacity);
  padding: 1.43rem 2.5rem 1.3rem 2.56rem;
  margin: 0 1rem 1rem 0;
}
.hero__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.hero__btn {
  display: none;
}

@media screen and (min-width: 600px) {
  .hero {
    min-height: 470px;
    color: var(--color-white);
    align-items: center;
    /* background-size: auto;  */
  }
  .hero__card {
    width: 488px;

    margin-right: 6rem;
  }
  .hero__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
  }
  .hero__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 35px;
  }
  .hero__btn {
    display: block;
    margin-top: 12px;
  }
}

/* FORM */

.form {
  max-width: 962px;
  min-width: 320px;
  margin: 3rem 20px 4rem;
  border: 1px solid var(--color-border);
  padding: 53px 30px;
}
.form__title {
  margin-bottom: 3rem;
}
.form__datos {
  margin-bottom: 3rem;
}

.form__radios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.form__radio {
  display: flex;
  margin-bottom: 2rem;
}
.form__radio > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.radio__input {
  display: none;
}
.radio__visible {
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-red-black);
  border-radius: 50%;
  margin-right: 8px;
  padding: 2px;
}

.radio__visible::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: var(--color-red-black);
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.radio__input:checked + .radio__visible::after {
  transform: scale(1);
}

.inputs__group {
  margin: 1rem 0 3rem;
}

.inputs__group label > input {
  display: block;
  border: 0px solid transparent;
  border-bottom: 1px solid var(--color-black);
  padding: 8px 0 8px 16px;
}
.inputs__group label > input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.inputs__group label > span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.datos__img {
  align-self: center;
}

.fechas__promocional > span ion-icon {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

@media screen and (min-width: 700px) {
  .form__datos {
    display: flex;
    flex-direction: column;
  }
  .datos__destino {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .datos__fechas {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 962px) {
  .form {
    margin: 0 auto;
    transform: translateY(-31px);
    background-color: #fff;
  }
}

/* Recomendaciones */
.recommendation {
  position: relative;
  margin-top: 64px;
  margin-bottom: 128px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  align-items: center;
}

.recommendation h2 {
  text-align: center;
}
.recommendation a {
  margin: 8px auto 35px;
}
.recommendation__cards {
  width: 300%;
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}
.recommendation__card {
  width: 294px;
  border-radius: 3px;
  border: 1px solid var(--color-border);
  position: relative;
  padding-bottom: 22px;
}
.recommendation__arrow__left {
  transform: translate(-176px, -344px);
  cursor: pointer;
}
.recommendation__arrow__rigth {
  transform: translate(173px, -321px);
  cursor: pointer;
}
.card__img img {
  width: 100%;
  height: 211px;
}
.card__group__text {
  padding: 5px 20.5px 0;
}
.group__text__city {
  display: flex;
  justify-content: space-between;
}
.card__group > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: var(--color-gray);
}
.card__preci {
  margin-bottom: 1rem;
}
.card__preci p {
  font-size: 16px;
  line-height: 30px;
}
.card__preci h3 {
  line-height: 24px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {
  .recommendation__arrow__rigth,
  .recommendation__arrow__left {
    display: none;
  }
  .carrusel {
    overflow-x: visible;
    width: 100%;
  }
  .recommendation__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateX(0) !important;
    transition: transform 0.5s ease;
  }
}

/* ACCESS */
.access {
  padding-bottom: 18px;
  margin-bottom: 62px;
}

.acccess__cards {
  padding: 0 37.5px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}

.access__card {
  margin-bottom: 48px;
  flex: 1;
}

.card__text__icon h5 {
  display: flex;
  margin-bottom: 16px;
}
.card__text__icon p {
  margin-bottom: 16px;
  padding-left: 3rem;
}
h5 > img {
  margin-right: 24px;
}
.card__text__icon > a {
  border-bottom: 0 solid transparent;
  padding-left: 3rem;
}
.card__icon__arrow {
  margin-left: 15px;
}
@media screen and (min-width: 800px) {
  .access {
    padding-bottom: 32px;
    margin-bottom: 88px;
  }
  .acccess__cards {
    padding: 0;
    flex-direction: row;
  }
  .access__card {
    padding-right: 1.5rem;
  }
  .access__card:nth-child(1) p {
    border-right: 1px solid var(--color-border);
  }
}

/* TEN EN CUENTA */
.encuenta {
  margin-bottom: 92px;
}
.encuenta h2 {
  margin-bottom: 56px;
}
.encuenta__cards {
  display: flex;
  flex-direction: column;
}
.encuenta__card {
  margin: 0 20px 2rem;
  padding: 2rem;
  border: 1px solid var(--color-border);
}
.encuenta__card h4,
.encuenta__card p {
  margin-bottom: 1rem;
}

.btn_encuenta {
  padding: 8px 4px;
}
@media screen and (min-width: 900px) {
  .encuenta__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .encuenta__card:nth-child(3) {
    grid-column: 1 / span 2;
  }
  .btn_encuenta {
    padding: 8px 16px;
  }
}
/* FOOTER */
.footer {
  margin: 0 40px;
  padding-top: 56px;
  border-top: 1px solid var(--color-border);
  background-color: var(--bg-footer);
}
.footer p {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray);
}
.group__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__links > h4,
.group__siguenos > h4 {
  color: var(--bg-color-red);
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 19px;
}
.footer__links > a {
  color: var(--color-black);
  display: block;
  font-weight: 400;
  margin-bottom: 1rem;
}
.redes {
  display: flex;
  margin-bottom: 24px;
}
.group__redes__icon {
  display: flex;
  margin-right: 32px;
}
.group__redes__icon img {
  margin-right: 6px;
}
.group__redes__icon > p {
  display: none;
}

.group__siguenos {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-border);
}
.group__logo__legales {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group__data {
  padding-top: 2rem;
  margin-bottom: 17.75px;
}
.group__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .group__links {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .group__logo__legales img {
    margin-right: 3rem;
  }
  .group__redes__icon > p {
    display: block;
  }

  .redes {
    padding-right: 57px;
    border-right: 1px solid var(--color-border);
  }
}
@media screen and (min-width: 800px) {
  .footer {
    margin: 0 auto;
  }
  .footer__siguenos {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
